@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../css/fontawesome.min.css";
@import "../css/regular.min.css";
@import "../css/solid.min.css";
@import "../css/brands.min.css";
@import "../css/inputs.css";

p {
    margin-bottom: 1rem;
}

.fade-in {
    opacity: 100%;
    animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
