@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../css/fontawesome.min.css";
@import "../css/regular.min.css";
@import "../css/solid.min.css";
@import "../css/brands.min.css";
@import "../css/inputs.css";
@import "../css/embla.css";

p {
    margin-bottom: 1rem;
}

.fade-in {
    opacity: 100%;
    animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.in-shadow {
    box-shadow: inset 0px 20px 20px -10px #ccc, inset 0px -20px 20px -10px #ccc;
}

.inset-shadow::after {
    box-shadow: inset 0px 15px 50px -10px black,
        inset 0px -15px 50px -10px black;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
